.homePageWrapper {
    height: 95%;
    width: 100%;
    background-image: url("./assets/embossed-diamond.png");
}

.homePageColor {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(90deg, rgb(15, 15, 15), rgb(22, 59, 90));
    opacity: .9;
}

