@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.loginConWrapper {
    width: 100%;
    font-family: 'Lexend Tera', sans-serif;
}

.loginContent {
    
    width: 200px;
    margin: 0 auto;
    margin-top: 20vh;
}