@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.loginConWrapper {
    width: 100%;
    font-family: 'Lexend Tera', sans-serif;
}

.loginHeader {
    color: white;
    text-align: center;
}

.loginContent {
    width: 500px;
    margin: 0 auto;
    margin-top: 20vh;
}

.loginInputs {
    width: 300px;
    margin: 0 auto;
}

.userNameLog {
    width: 300px;
    padding: 10px 0;
    text-align: center;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.passwordLog {
    margin-top: 5px;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.loginBut {
    font-family: 'Lexend Tera', sans-serif;
    margin-top: 30px;
    width: 304px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-image:-webkit-linear-gradient(90deg, rgba(15, 15, 15, 0.87), rgba(36, 106, 163, 0.411));
    background-image:(90deg, rgba(15, 15, 15, 0.87), rgba(36, 106, 163, 0.411));
    color: white;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.resellerBut {
    font-family: 'Lexend Tera', sans-serif;
    margin-top: 5px;
    width: 304px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-image:-webkit-linear-gradient(270deg, rgba(15, 15, 15, 0.87), rgba(36, 106, 163, 0.411));
    background-image:(180deg, rgba(15, 15, 15, 0.87), rgba(36, 106, 163, 0.411));
    color: white;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}