@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

.navBar {
    background-color: rgb(20, 51, 77);
    width: 100%;
    height: 60px;
    position: relative;
    font-family: 'Lexend Tera', sans-serif;
}

.navTitleDiv {
    width: 60%;
    float: left;
}

.navAboutDiv {
    width: 15%;
    float: left;
    padding-top: 20px; 
}

.navProductsDiv {
    width: 15%;
    float: left;
    padding-top: 20px; 
}

.navTitleDiv h3 {
    margin:0px;
    padding: 10px;
    width: 30%;
}

.navCart {
    float: left;
    width: 8%;
    height: 50px;
    margin-top: 5px;
}

.fa {
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.fa-user {
    width: 30px;
    height: 30px;
}

.navCart h3 {
    margin:0px;
    text-align: center;
    margin-top: 15px;
}

.navTitleA {
    text-decoration: none;
    width: 200px;
}

.navAboutA {
    text-decoration: none;
    color: white;
}

.navProductsA {
    text-decoration: none;
    color: white;
}

.navTitleRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 5px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 1.7em;
}

.navTitleCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
}

@media only screen and (max-width: 499px) {
    .navTitleRe {
        
        font-size: .9em;
    }
    
    .navTitleCom {
        color: rgb(255, 255, 255);
        margin-left: 8px;
        font-size: .5em;
    }
    .navTitleDiv {
        width: 50%;
        margin-top: 5px;

    }
    .navProductsA {
        text-decoration: none;
        color: white;
        font-size: .7em;
    }
    .fa-user {
        margin-left: 60px;
    }
}

