@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

.navB {
    box-sizing: border-box;
    background-color: rgb(20, 51, 77);
    width: 100%;
    height: 70px;
    position: fixed;
    font-family: 'Lexend Tera', sans-serif;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    z-index: 10;
}

.navTitleDiv {
    flex: 6 2 200px;

}

.navProductsDiv {
    flex: 4 0 100px;
    margin-top: 12px;
}

.navCart {
    width: 50px;
    margin-top: 12px;
}

.navTitleRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 3px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 1.7em;

}

.navTitleCom {
    color: white;
}

.navTitleA {
    text-decoration: none;
}

.navProductsA {
    text-decoration: none;
    color: white;
    
}

.fa-user {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .navTitleRe {
        color: rgb(20, 51, 77);
        text-align: center;
        padding: 3px;
        border: 1px white solid;
        background-color: white;
        border-radius: 50%;
        font-size: 1.3em;
    
    }
    .navCart {
        width: 30px;
        margin-top: 8px;
    }
    .navProductsDiv {
        margin-top: 8px;
        font-size: .9em;
    }
}

