@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

.productsWrapper {
    height: max-content;
    width: 1100px;
    margin: 0 auto;              
    left: 0;
    right: 0;
   margin-bottom: 0;
}
.productOne {
    font-family: 'Lexend Tera', sans-serif;
    width: 300px; 
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.459);
    height: 422;
    box-shadow: 10px 10px 20px 2px #88888877;
    float: left;
    z-index: 6;
    margin-right: 20px;
    margin-top: 100px;
}

.productBackImg {
    width: 322px;
    height: 415px;
    z-index: -1;
    position: absolute;
    margin-top: -315px;
    margin-left: -10px;
}


.productTwo {
    font-family: 'Lexend Tera', sans-serif;
    width: 300px; 
   
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.459);
    height: 422;
    box-shadow: 10px 10px 20px 2px #88888877;
    float: left;
    margin-right: 20px;
    margin-top: 100px;
    z-index: 6;
}


.productThree {
    font-family: 'Lexend Tera', sans-serif;
    width: 300px; 
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.459);
    height: 422;
    box-shadow: 10px 10px 20px 2px #88888877;
    float: left;
    margin-top: 100px;
    z-index: 6;
}

.productImg {
    width: 302px; height: 300px;
    z-index: 6;
}

.productTitle {
    margin-top: -4px;
    width: 300px;
    text-align: center;
    border: 1px rgba(255, 255, 255, 0.384) solid;
    color: white;
    background-image:-webkit-linear-gradient(90deg, rgb(15, 15, 15), rgb(22, 59, 90));
    background-image:(90deg, rgb(15, 15, 15), rgb(22, 59, 90));
    
}



.addToCartBut {
    font-family: 'Lexend Tera', sans-serif;
    width: 302px;
    height: 30px;
    text-align: center;
    border: 1px white solid;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .productsWrapper {
        height: max-content;
        width: 400px;
        margin: 0 auto;              
        left: 0;
        right: 0;
        margin-top: 0px;
    }
    .productOne {
        float: none;
        margin-top: 0;
        margin: 0 auto;              
        left: 0;
        right: 0;
    }
    .productTwo {
        float: none;
        margin: 0 auto;              
        left: 0;
        right: 0;
    }
    .productThree {
        float: none;
        margin: 0 auto;              
        left: 0;
        right: 0;
    }
  }