@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.coContent {
    margin-top: 10px;
}

.revOrder {
    width: 800px;
    margin: 0 auto;
    font-family: 'Lexend Tera', sans-serif;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.349);
    margin-bottom: 10px;
}

.productInfoWrapper {
    height: 210px;
    width: 800px;
    margin: 0 auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.377);
    font-family: 'Lexend Tera', sans-serif;
    color: white;
    margin-bottom: 20px;
}

.productInfo {
    display: table;
    width: 500px;
    height: 200px;
    margin-left: 20px;
    float: left;
}

.prodNameDiv {
    width: 100px;
    
    display: table-cell;
}

.z {
    height: 200px;
    position: relative;
    top: 70px;
    text-align: center;   
}


.prodValDiv {
    width: 100px;
    display: table-cell;
}

.prodPlusSub {
    width: 100px;
    display: table-cell;
}

.coImg {
    width: 200px;
    height: 200px;
    float: left;
}
.productQuan {
    text-align: center;
}
.plusBut {
    margin-left: 34px;
    padding: 10px;
    width: 30px;
    float: left;
}

.totalOrder {
    
    width: 800px;
    padding: 10px 0;
    margin: 0 auto;
    font-family: 'Lexend Tera', sans-serif;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.349);
}

.total {
    
    color: white;
    float: left;
    width: 50px;
    margin-left: 400px;
    position:absolute;
}

.proceed {
    font-family: 'Lexend Tera', sans-serif;
    
}

.proceedBut {
    padding: 10px;
    margin-left: 530px;
    width: 200px;
}