@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.coContent {
    color: white;
    font-family: 'Lexend Tera', sans-serif;

    margin: 0 auto;
    left: 0;
    right: 0;
}

.revOrder {
    width: 80vw;
    margin: 0 auto;
}

.productInfoWrapper {
        padding-top: 10px;
        width: 80vw;
        height: 180px;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-bottom: 1px solid white;
}

.totalOrder {
        margin-top: 10px;
        padding: 10px 0;
        width: 80vw;
        height: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        
        margin-bottom: 30px;
}

.total {
    width: 19vw;
    float: left;
    margin-left: 50%;
}

.pro {
    margin-top: 15px;
}

.coImg {
        width: 150px;
        height: 150px;
        float: left;
}

.productInfo {
    width: 100%;
}

.productNameTit {
    margin-left: 5px;

   
}

.productName {

    padding-left: 6px;
}

.productValueTit {
    margin-left: 5px;
    
    padding-right: 6px;
  
}

.productValue {
   
    padding-left: 6px;
}



.prodPlusSub button {
    width: 30px;
    height: 30px;
    text-align: center;
}

.productQuan {
    float: left;
    padding-left: 0px;
    margin-top: 5px;
}

.productSub {
    margin-left: 80px;
}

.productPlus {
    float: left;
}

.prodNameDiv {
    margin-top: 50px;
    width: 20vw;
    float: left;
    text-align: center;
}

.prodValDiv {
    margin-top: 50px;
    width: 30vw;
    float: left;
    text-align: center;
}

.prodPlusSub {
    width: 10vw;
    float: left;
    margin-top: 80px;
}

.productPlus {
    width: 50px;

}


.zz {
    width: 15vw;
    margin: 0 auto;
}




@media only screen and (max-width: 750px) {
    .prodNameDiv {
        margin-top: 0;
        width: 40vw;
        float: left;
        text-align: center;
    }

    .productNameTit {
        margin-left: 5px;
        border-right: 1px solid white;
        padding-right: 10px;
        float: left;
    }

    .productName {
        float: left;
        padding-left: 6px;
    }

    .productValueTit {
        margin-left: 5px;
        border-right: 1px solid white;
        padding-right: 6px;
        float: left;
    }

    .productValue {
        float: left;
        padding-left: 6px;
    }
    
    .prodValDiv {
        margin-top: 50px;
        width: 30vw;
        text-align: center;
        float: none;
    }
    .productInfo {
        float: left;
        width: 50vw;
    }
    .prodPlusSub {
        width: 10vw;
        float: left;
        margin-top: 60px;
        margin-left: 70px;
    }
    .totalOrder {
        margin-top: 10px;
        padding: 10px 0;
        width: 80vw;
        height: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

.total {
    width: 19vw;
    float: left;
    margin-left: 35%;
}

.pro {
    margin-top: 15px;
}
    
}

@media only screen and (max-width: 600px) {
    .productInfo {
        float: left;
    }
    .productInfoWrapper {
        width: 90vw;
        height: 180px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .revOrder {
        width: 90vw;
        margin: 0 auto;
    }

    .productNameTit {
        margin-left: 5px;
        border-right: 1px solid white;
        padding-right: 10px;
        float: left;
    }

    .productName {
        float: left;
        padding-left: 6px;
    }

    .productValueTit {
        margin-left: 5px;
        border-right: 1px solid white;
        padding-right: 6px;
        float: left;
    }

    .productValue {
        float: left;
        padding-left: 6px;
    }

    .prodPlusSub {
        clear: both;
        margin-left: 10px;
        margin-top: 0px;
        width: 30vw;
    }

    .prodPlusSub button {
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .productQuan {
        float: left;
        padding-left: 0px;
        margin-top: 5px;
    }

    .productSub {
        
        margin-left: 80px;
    }

    .productPlus {
        float: left;
    }
    .zz {
        width: 100vw;
        margin: 0 auto;
    }
    .totalOrder {
        margin-top: 10px;
        padding: 10px 0;
        width: 90vw;
        height: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        
        margin-bottom: 30px;
}

.total {
    width: 30vw;
    float: left;
    margin-left: 30%;
}

.pro {
    margin-top: 15px;
}
}

@media only screen and (max-width: 499px) {
    .coContent {
        font-size: .6em;
    }
    .prodNameDiv {
        margin-top: 0;
        width: 40vw;
       
    }

    .productInfo {
        float: left;
        width:10vw;
    }
    .prodPlusSub {
        clear: both;
        margin-left: 10px;
        margin-top: 20px;
        width: 30vw;
    }
    .totalOrder {
        height: 20px;
    }
    .total {
        width: 30vw;
        float: left;
        margin-left: 20%;
        margin-top: 0px;
    }
    
    .pro {
        margin-top: 0px;
    }
}