.paypal {
    width: 500px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .paypal {
        width: 400px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .paypal {
        width: 300px;
        margin: 0 auto;
    }
}