@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.homePageCon {

    font-family: 'Lexend Tera', sans-serif;
    width: 100px; height: 100px; /* must be present. No matter the value */
    position: absolute;          /* to props top/bottom take effect */
    margin: auto;                /* here's the magic. */
    bottom: 25%; top: 0px;       /* This is how you center a block verticaly */
    left: 20%;
}

.homeTitle {
    margin: 0;
}

.homeTitleRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 20px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 6vw;
}

.homeTitleCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 5.5vw;
}

.homeRev {
    margin-top: 30px;
    margin-left: 100%;
}

.homeRevRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 5px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 3.5vw;
}

.homeRevCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 2vw;
}

.homeIn {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    font-size: 1.5vw;
}

.homeSelRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 5px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 3vw;
}

.homeSelCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 2vw;
}

@media only screen and (max-width: 500px) {
    .homeRev {
        margin-top: 30px;
        margin-left: 70%;
    }
}
