@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
.homePageCon {

    font-family: 'Lexend Tera', sans-serif;
    width: 70vw; height: 100px; /* must be present. No matter the value */
    position: relative;          /* to props top/bottom take effect */
    margin: 0 auto;  /* This is how you center a block verticaly */
    margin-top: 200px;
}

.homeTitle {
    margin: 0;
}

.homeTitleRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 20px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 8vw;
}

.homeTitleCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 7.5vw;
}

.homeRev {
    width: 40vw;


    margin: 0 auto;
    margin-left: 20vw;
    margin-top: 20px;
}

.homeRevRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 5px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 4.5vw;
}

.homeRevCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 3vw;
}

.homeIn {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    font-size: 2.5vw;
}

.homeSelRe {
    color: rgb(20, 51, 77);
    text-align: center;
    padding: 5px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    font-size: 4vw;
}

.homeSelCom {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    font-size: 3vw;
}

.userButton {
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
}

.buyer {
    width: 20vw;
    padding: 10px 0;
    float: left;
    margin-left: 200px;
    font-family: 'Lexend Tera', sans-serif;
    cursor: pointer;
}

.seller {
    width: 20vw;
    float: left;
    padding: 10px 0;
    margin-left: 10px;
    font-family: 'Lexend Tera', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    
    .homePageCon {

        font-family: 'Lexend Tera', sans-serif;
        width: 90vw; height: 100px; /* must be present. No matter the value */
        position: relative;          /* to props top/bottom take effect */
        margin: 0 auto;  /* This is how you center a block verticaly */
        margin-top: 200px;
    }
}

@media only screen and (max-width: 500px) {
    
    .buyer {
        width: 30vw;
        padding: 3px 0;
        float: left;
        margin-left: 50px;
    }
    
    .seller {
        width: 30vw;
        float: left;
        padding: 3px 0;
        margin-left: 10px;
    }
}
